@import url(https://fonts.bunny.net/css?family=alegreya-sans-sc:300,300i);

body {
    display: flex;
    flex-direction: row;
}

.header {
    position: absolute;
    width: 427px;
    height: 1000px;
}

.background {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.image-body {
    position: relative;
    width: 100%;
    background: black;
    opacity: 0.6;
    color: white;
    top: 8rem;
    text-align: center;
    font-size: 3em;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.odin-logo {
    width: 80px;
    height: 100px;
    padding-top: 15px;
}

.odin-text {
    position: relative;
}

.credit {
    position: absolute;
    top: 38em;
    font-size: 0.8em;
}

form {
    position: relative;
    height: 1000px;
    width: 573px;
    margin-left: 427px;
    background: white;

}

.fieldset {
    height: 600px;
    width: 573px;
}

button,
input {
    font-family: 'Alegreya Sans SC', sans-serif;
    width: 150px;
    padding: 0;
    margin: 0;
    border: #E5E7EB;
    box-sizing: border-box;
}

input :invalid {
    border: red;
}

input :focus {
    border: blue;
    box-shadow: .05em;
}