@import url(https://fonts.bunny.net/css?family=alegreya-sans-sc:300,300i);



.header {
    position: absolute;
    width: 427px;
    height: 1000px;
}

.background {
    position: absolute;
    height: 75%;
    width: 100%;
    z-index: -1;
}

.image-body {
    position: relative;
    width: 100%;
    background: black;
    opacity: 0.6;
    color: white;
    top: 8rem;
    text-align: center;
    font-size: 3em;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.odin-logo {
    width: 80px;
    height: 100px;
    padding-top: 15px;
}

.odin-text {
    position: relative;
    bottom: 25px;
}

.credit {
    position: relative;
    top: 500px;
    left: 130px;
    color: white;
    font-size: 0.8em;
}

.right-side {
    position: absolute;
    top: 100px;
    left: 437px;
}

.start {
    position: relative;
    width: 500px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: 1.4em;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.command {
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: 1.4em;
    font-family: 'Alegreya Sans SC', sans-serif;
}

legend {
    position: relative;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 30px;
    font-size: 1.4em;
    font-family: 'Alegreya Sans SC', sans-serif;
}

form {
    position: relative;
    background: white;
}

fieldset {
    box-sizing: border-box;
    position: relative;
    padding-left: 30px;
    height: 200px;
    border: white;
}

.formblock {
    border-bottom: 3px groove #f2f2f2;
    border-top: 1px groove #f2f2f2;
}

.name1 {
    position: relative;
    display: inline-block;
    padding-right: 50px;
    padding-bottom: 20px;
    height: 50px;
    width: 200px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 0.8em;
}

.name2 {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 200px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 0.8em;
}

.email {
    position: relative;
    display: inline-block;
    padding-right: 50px;
    padding-bottom: 20px;
    height: 50px;
    width: 200px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 0.8em;
}

.phone {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 200px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 0.8em;
}

.password {
    position: relative;
    display: inline-block;
    padding-right: 50px;
    padding-bottom: 20px;
    height: 50px;
    width: 200px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 0.8em;
}

.confirm {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 200px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 0.8em;
}

button {
    position: relative;
    top: 10px;
    left: 32px;
    width: 200px;
    padding: 20px;
    color: white;
    background-color: #00b3b3;
    font-size: 1.2em;
    font-family: 'Alegreya Sans SC', sans-serif;
    border: #E5E7EB;
    border-radius: 15px;
    box-sizing: border-box;
}

.login {
    position: relative;
    top: 30px;
    left: 32px;
    font-family: 'Alegreya Sans SC', sans-serif;
}

input:invalid {
    border-color: red;
}

input:valid {
  border-color: green;
}

input :focus {
    border: blue;
    box-shadow: .05em;
}