@import url(https://fonts.bunny.net/css?family=alegreya-sans-sc:300,300i);

body {
    display: flex;
}

.odin-background {
    position: absolute;
    right: 70%;
    height: 100%;
    z-index: -1;
}

.image-body {
    position: absolute;
    background: black;
    opacity: 0.6;
    color: white;
    top: 8rem;
    text-align: center;
    font-size: 1.2em;
}

.image-heading p{
    position: absolute;
    background: black;
    opacity: 0.6;
}

form {
    position: absolute;
    left: 30%;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    background: white;

}

button,
input {
    font-family: inherit;
    width: 150px;
    padding: 0;
    margin: 0;
    border: #E5E7EB;
    box-sizing: border-box;
}

input :invalid {
    border: red;
}

input :focus {
    border: blue;
    box-shadow: .05em;
}